.right-sidebar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 28% 32% auto;
    grid-template-columns: 100%;
}

.right-sidebar-profile {

    align-items: center;
    display: flex;
    justify-content: space-evenly;

}

.right-sidebar-activity {
    margin-top: 5%;
}

.right-sidebar-suscription-container {
    display: flex;
}

.profile-avatar {
    background: #C4C4C4;
    color: transparent;
    font-size: 0;
    text-indent: -9999px;
}

.profile-info {
    margin: 25px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;
}

.profile-info img {
    height: 40%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.profile-info h3 {
    padding: 0;
    font-weight: 500;
    font-size: 1rem;
}

.profile-icons {
    height: 100%;
    display: flex;
    align-items: center;
}

.profile-icons * {
    width: 25%;
    height: 25%;

    min-width: 20px;
    min-height: 20px;
    transition: scale 200ms ease-in-out;
}

.profile-icons:first-child {
    margin-left: 12%;
}

.profile-icons :not(:first-child) {
    margin-left: 10px;
}

.profile-icons *:hover {
    scale: 1.05
}

/* title upper to wheel pie */
.right-sidebar-stats h1 {
    color: var(--text-color);
    margin: 0;
    margin-top: 3%;
    margin-left: 34px;
    height: 20%;
    font-size: 2.6rem;
    font-weight: 500;
}

/* subtitle under wheel pie */
.right-sidebar-stats span {
    height: 15%;
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1rem;

    color: var(--p-text-color);
}

.right-sidebar-divider {
    display: flex;
    width: 100%;
    background-color: #E0E7F1;
    height: 1px;
}

.right-sidebar-suscription {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 76%;
    height: 80%;
    margin: auto;
    background-color: var(--suscription-bg-color);
    border-radius: 18px;

    transition: background-color 300ms ease-in-out;
}

.right-sidebar-suscription-gradient {
    border-radius: 11px;
    display: flex;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 65%;
    height: 45%;
    background: linear-gradient(90deg,
            #FF9F00 0%,
            #FF6860 55%,
            #689EF8 100%);
}

.right-sidebar-suscription h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
}

.right-sidebar-suscription span {
    text-align: center;
    font-size: 1.1rem;
    color: var(--p-text-color);
    margin-bottom: 2%;
}

.right-sidebar-suscription button {
    border: 0;
    margin: auto;
    margin-bottom: 8%;
    padding: 10px 10px;
    width: fit-content;
    background-color: #FF9F00;
    border-radius: 7px;
    color: #FFFFFF;

    transition: scale 200ms ease-in-out;
}

.right-sidebar-suscription button:hover {
    scale: 1.05
}

@media (max-width: 1227px) {
    .right-sidebar-stats h1 {
        margin-top: 15px;
        font-size: 1.95rem;
    }

    .right-sidebar-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 10% 31% 26% auto;
        grid-template-columns: 100%;
    }

    .right-sidebar-activity {
        margin-top: 8%;
    }

    .right-sidebar-stats span {
        font-size: 0.8rem;
    }

    .right-sidebar-suscription h3 {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .right-sidebar-suscription span {
        font-size: 0.8rem;
        margin-bottom: 2%;
    }


    .right-sidebar-suscription-gradient {
        margin-bottom: 12%;
        width: 63%;
        height: 36%;
    }

    .right-sidebar-suscription button {
        font-size: 1rem;
        padding: 10px 20px;
    }

}