.cards-recent-used {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--suscription-bg-color);
  border-radius: 12px;
  padding: 5%;
}

.dots-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  color: #C4C4C4;
  width: 20px;
  height: 20px;
}

.shared-info-container {
  height: 60%;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.icon-container {
  aspect-ratio: 1/0.9;
  background-color: #FF9F00;
  box-shadow: -6px 6px 0px #FFD999;
  width: 40px;
  height: 35px;
  margin-left: 20%;
}

.cards-recent-used h3 {
  font-size: 1.7rem;
  font-weight: 400;
}

.cards-recent-used span {
  font-size: 1rem;
  font-weight: 400;
  color: var(--p-text-color);
}

@media (max-width: 628px) {
  .icon-container {
    width: 30px;
    height: 30px;
  }
}